#### PYT-DS SAISOFT

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/kirbyurner/27963484878/in/album-72157693427665102/" title="Barry at Large"><img src="https://farm1.staticflickr.com/969/27963484878_b38f0db42a_m.jpg" width="240" height="180" alt="Barry at Large"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

# DATA SCIENCE WITH PYTHON

### FROM A FAMOUS TUTORIAL

From Chris Fonnesbeck's Advanced Statistical Computing open Github course material for his Vanderbilt University course [Bios8366](https://github.com/fonnesbeck/Bios8366).

I've seen this stash recommended in articles designed to steer us towards the best materials.  I appreciate such guidance and pass on what to me seems on target.

In [1]:
import pandas as pd

In [2]:
url = ("https://raw.githubusercontent.com/fonnesbeck/Bios8366/"
       "master/data/microbiome.csv")

In [3]:
bacteria = pd.read_csv(url)

In [4]:
bacteria.head()

        Taxon  Patient  Group  Tissue  Stool
0  Firmicutes        1      0     136   4182
1  Firmicutes        2      1    1174    703
2  Firmicutes        3      0     408   3946
3  Firmicutes        4      1     831   8605
4  Firmicutes        5      0     693     50

In [5]:
bacteria.set_index(['Taxon', 'Patient'], inplace=True)

In [6]:
bacteria

                        Group  Tissue  Stool
Taxon          Patient
Firmicutes     1            0     136   4182
               2            1    1174    703
               3            0     408   3946
               4            1     831   8605
               5            0     693     50
               6            1     718    717
               7            0     173     33
               8            1     228     80
               9            0     162   3196
               10           1     372     32
               11           0    4255   4361
               12           1     107   1667
               13           0      96    223
               14           1     281   2377
Proteobacteria 1            0    2469   1821
               2            1     839    661
               3            0    4414     18
               4            1   12044     83
               5            0    2310     12
               6            1    3053    547
               7            0     395   2174
               8            1    2651    767
               9            0    1195     76
               10           1    6857    795
               11           0     483    666
               12           1    2950   3994
               13           0    1541    816
               14           1    1307     53
Actinobacteria 1            0    1590      4
               2            1      25      2
...                       ...     ...    ...
               13           0      51    183
               14           1     310    204
Bacteroidetes  1            0      67      0
               2            1       0      0
               3            0      85      5
               4            1     143      7
               5            0     678      2
               6            1    4829    209
               7            0      74    651
               8            1     169    254
               9            0     106     10
               10           1      73    381
               11           0      30    359
               12           1      51     51
               13           0    2473   2314
               14           1     102     33
Other          1            0     195     18
               2            1      42      2
               3            0     316     43
               4            1     202     40
               5            0     116      0
               6            1     527     12
               7            0     357     11
               8            1     106     11
               9            0      67     14
               10           1     203      6
               11           0     392      6
               12           1      28     25
               13           0      12     22
               14           1     305     32

[70 rows x 3 columns]

In [7]:
bacteria.sort_values(by="Tissue", axis=0)

                        Group  Tissue  Stool
Taxon          Patient
Bacteroidetes  2            1       0      0
Other          13           0      12     22
Actinobacteria 2            1      25      2
Other          12           1      28     25
Bacteroidetes  11           0      30    359
Actinobacteria 11           0      42     75
Other          2            1      42      2
Actinobacteria 13           0      51    183
Bacteroidetes  12           1      51     51
Other          9            0      67     14
Bacteroidetes  1            0      67      0
               10           1      73    381
               7            0      74    651
               3            0      85      5
Firmicutes     13           0      96    223
Bacteroidetes  14           1     102     33
Other          8            1     106     11
Bacteroidetes  9            0     106     10
Firmicutes     12           1     107   1667
Actinobacteria 12           1     109     59
Other          5            0     116      0
Firmicutes     1            0     136   4182
Bacteroidetes  4            1     143      7
Firmicutes     9            0     162   3196
Bacteroidetes  8            1     169    254
Firmicutes     7            0     173     33
Other          1            0     195     18
Actinobacteria 10           1     201     83
Other          4            1     202     40
               10           1     203      6
...                       ...     ...    ...
Proteobacteria 7            0     395   2174
Firmicutes     3            0     408   3946
Actinobacteria 8            1     424    233
Proteobacteria 11           0     483    666
Other          6            1     527     12
Actinobacteria 9            0     548     21
               4            1     568      7
               6            1     678    377
Bacteroidetes  5            0     678      2
Firmicutes     5            0     693     50
               6            1     718    717
               4            1     831   8605
Proteobacteria 2            1     839    661
Actinobacteria 5            0    1102      9
Firmicutes     2            1    1174    703
Proteobacteria 9            0    1195     76
               14           1    1307     53
               13           0    1541    816
Actinobacteria 1            0    1590      4
Proteobacteria 5            0    2310     12
               1            0    2469   1821
Bacteroidetes  13           0    2473   2314
Proteobacteria 8            1    2651    767
               12           1    2950   3994
               6            1    3053    547
Firmicutes     11           0    4255   4361
Proteobacteria 3            0    4414     18
Bacteroidetes  6            1    4829    209
Proteobacteria 10           1    6857    795
               4            1   12044     83

[70 rows x 3 columns]

In [8]:
bacteria.sort_values(by="Patient", axis=0)

                        Group  Tissue  Stool
Taxon          Patient
Firmicutes     1            0     136   4182
Actinobacteria 1            0    1590      4
Bacteroidetes  1            0      67      0
Proteobacteria 1            0    2469   1821
Other          1            0     195     18
Actinobacteria 2            1      25      2
Bacteroidetes  2            1       0      0
Other          2            1      42      2
Proteobacteria 2            1     839    661
Firmicutes     2            1    1174    703
Other          3            0     316     43
Firmicutes     3            0     408   3946
Bacteroidetes  3            0      85      5
Actinobacteria 3            0     259    300
Proteobacteria 3            0    4414     18
Other          4            1     202     40
Firmicutes     4            1     831   8605
Bacteroidetes  4            1     143      7
Actinobacteria 4            1     568      7
Proteobacteria 4            1   12044     83
Other          5            0     116      0
Bacteroidetes  5            0     678      2
Firmicutes     5            0     693     50
Actinobacteria 5            0    1102      9
Proteobacteria 5            0    2310     12
               6            1    3053    547
Firmicutes     6            1     718    717
Actinobacteria 6            1     678    377
Other          6            1     527     12
Bacteroidetes  6            1    4829    209
...                       ...     ...    ...
Firmicutes     9            0     162   3196
Actinobacteria 9            0     548     21
Bacteroidetes  9            0     106     10
Other          9            0      67     14
Proteobacteria 9            0    1195     76
Bacteroidetes  10           1      73    381
Other          10           1     203      6
Actinobacteria 10           1     201     83
Proteobacteria 10           1    6857    795
Firmicutes     10           1     372     32
               11           0    4255   4361
Proteobacteria 11           0     483    666
Other          11           0     392      6
Bacteroidetes  11           0      30    359
Actinobacteria 11           0      42     75
Proteobacteria 12           1    2950   3994
Actinobacteria 12           1     109     59
Bacteroidetes  12           1      51     51
Other          12           1      28     25
Firmicutes     12           1     107   1667
Proteobacteria 13           0    1541    816
Bacteroidetes  13           0    2473   2314
Actinobacteria 13           0      51    183
Other          13           0      12     22
Firmicutes     13           0      96    223
Bacteroidetes  14           1     102     33
Proteobacteria 14           1    1307     53
Firmicutes     14           1     281   2377
Actinobacteria 14           1     310    204
Other          14           1     305     32

[70 rows x 3 columns]